Node-RED Flow/flows.json
[{"id":"b5dd65a8.da6498","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cd801ca5.3e1c2","type":"debug","z":"b5dd65a8.da6498","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":80,"wires":[]},{"id":"62379dae.07b9e4","type":"function","z":"b5dd65a8.da6498","name":"","func":"msg.payload=\"You: \"+msg.payload.q;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":220,"wires":[["28051e67.782de2","90f8628f.fb3ba"]]},{"id":"90f8628f.fb3ba","type":"ui_text","z":"b5dd65a8.da6498","group":"cd0cc7f.4543b38","order":1,"width":0,"height":0,"name":"Chat","label":"","format":"{{msg.payload}}","layout":"row-right","x":460,"y":300,"wires":[]},{"id":"5977d727.3145f8","type":"ui_form","z":"b5dd65a8.da6498","name":"","label":"","group":"fbd1018c.77f0e","order":1,"width":"5","height":"8","options":[{"label":"Enter the query","value":"q","type":"text","required":true,"rows":null}],"formValue":{"q":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":100,"y":320,"wires":[["62379dae.07b9e4"]]},{"id":"28051e67.782de2","type":"watson-conversation-v1","z":"b5dd65a8.da6498","name":"Assistant","workspaceid":"0986a7b5-0c90-4bc1-ba96-58bac9949d3e","multiuser":false,"context":false,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/512fd6d0-8e8f-49b0-9b94-e987c32cb617","timeout":"","optout-learning":false,"x":440,"y":140,"wires":[["3e66d2e9.8cb2fe","cd801ca5.3e1c2"]]},{"id":"3e66d2e9.8cb2fe","type":"function","z":"b5dd65a8.da6498","name":"","func":"msg.payload.text=\"\";\nif(msg.payload.context.webhook_result_1){\n    for(var i in msg.payload.context.webhook_result_1.results){\n        msg.payload.text=msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[i].text; \n    }\n    msg.payload=\"Bot: \"+msg.payload.text;\n}\nelse\nmsg.payload=\"Bot: \"+msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":220,"wires":[["c4f62b6c.fe1578"]]},{"id":"c4f62b6c.fe1578","type":"ui_template","z":"b5dd65a8.da6498","group":"cd0cc7f.4543b38","name":"Bot","order":0,"width":0,"height":0,"format":"<div style=\"height:440px\">\n{{msg.payload}}\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":670,"y":380,"wires":[[]]},{"id":"cd0cc7f.4543b38","type":"ui_group","z":"","name":"Chat","tab":"1c617fab.e2916","order":3,"disp":true,"width":"12","collapse":false},{"id":"fbd1018c.77f0e","type":"ui_group","z":"b5dd65a8.da6498","name":"Input","tab":"1c617fab.e2916","order":1,"disp":true,"width":"5","collapse":false},{"id":"1c617fab.e2916","type":"ui_tab","z":"","name":"HelpDesk","icon":"dashboard","disabled":false,"hidden":false}]